@model AddressViewModel
@using Microsoft.AspNetCore.Mvc.Rendering;
<h2>Wijzig adres</h2>

<form asp-controller="Address" asp-action="EditAddress" method="post" class="form-horizontal" role="form">
    <h4>U kunt de onderstaande gegevens wijzigen</h4>
    <hr />
    
    @Html.HiddenFor(x => x.KlantId)
    @Html.HiddenFor(x => x.OnderNemerId)
    
    <partial name="_addressFields" />
    
    <div class="form-group">
        <div class="hidden-xs col-md-12">
            <input type="submit" class="btn btn-primary" value="Opslaan" />
            <a asp-action="AddressManagement" class="btn btn-primary">Annuleren</a>
        </div>
        <div class="visible-xs col-xs-12">
            <input type="submit" class="btn btn-primary btn-mobile" value="Opslaan" />
        </div>
        <div class="visible-xs col-xs-12">
            <a asp-action="AddressManagement" class="btn btn-primary btn-mobile">Annuleren</a>
        </div>
    </div>
</form>

