@model AddressViewModel

<h2>Voer nieuw adres in</h2>

<form asp-controller="Address" asp-action="AddNewAddress" method="post" class="form-horizontal" role="form">
    <h4>Vul hieronder de details in</h4>
    <hr />
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    
    @Html.HiddenFor(x => x.KlantId)
    @Html.HiddenFor(x => x.OnderNemerId)

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Voornaam" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="Voornaam" class="form-control" placeholder="Voornaam" autocomplete="off"/>
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="Tussenvoegsel" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="Tussenvoegsel" class="form-control" placeholder="Tussenvoegsel" autocomplete="off"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Achternaan" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="Achternaan" class="form-control" placeholder="Achternaam" autocomplete="off"/>
                <span asp-validation-for="Achternaan" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Postcode" class="col-md-2 control-label"></label>
                <input asp-for="Postcode" class="form-control" placeholder="Postcode" autocomplete="off"/>
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="Huisnummer" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="Huisnummer" class="form-control" placeholder="Huisnummer" autocomplete="off"/>
                <span asp-validation-for="Huisnummer" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label asp-for="HuisnummerToevoeging" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="HuisnummerToevoeging" class="form-control" placeholder="Toevoeging" autocomplete="off"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Straat" class="col-md-2 control-label no-padding-left"></label>
                <input asp-for="Straat" class="form-control" placeholder="Straat" autocomplete="off"/>
                <span asp-validation-for="Straat" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Plaats" class="col-md-2 control-label"></label>
                <input asp-for="Plaats" class="form-control" placeholder="Plaats" autocomplete="off"/>
                <span asp-validation-for="Plaats" class="text-danger"></span>
            </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Land" class="col-md-2 control-label"></label>
                <input asp-for="Land" class="form-control" placeholder="Land" autocomplete="off"/>
                <span asp-validation-for="Land" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            <a asp-action="FirstAddress" class="btn btn-primary" title="Eerste"><<</a>
            <a asp-action="PreviousAddress" class="btn btn-primary" title="Vorige"><</a>
            <input type="submit" class="btn btn-primary" value="Opslaan" title="Opslaan" />
            <a asp-action="NextAddress" class="btn btn-primary" title="Volgende">></a>
            <a asp-action="LastAddress" class="btn btn-primary" title="Laatste">>></a>
            <a asp-action="AddressManagement" class="btn btn-primary">Annuleren</a>
        </div>
    </div>
</form>

<script>
    //$(function () {
    //    $('#cancel').click(function () {
    //        $('#dialognieuweorganisatie').dialog("close");
    //    });
    //});

    function getofficialaddress(postcode, number) {
        $.ajax({
            url: window.location.origin + '/Address/GetOfficialAddress',
            cache: false,
            dataType: "json",
            type: "GET",
            data: { zipcode: postcode.replace(" ", ""), number: +number },
            success: function(result) {
                if (result.city != null) {
                    $("#Plaats").val(result.city);
                    $("#Straat").val(result.street);
                    //$("#plaats").val(result.city);
                    //$("#straat").val(result.street);
                    //$("#rowcity").show();
                    //$("#rowstreet").show();
                    $(".zip-error").hide();
                    $('#save').prop('disabled', false);
                } else {
                    $("#Plaats").val('');
                    $("#Straat").val('');
                    $(".zip-error").show();
                    //$("#rowcity").hide();
                    //$("#rowstreet").hide();
                    $('#save').prop('disabled', true);
                }
            },
            error: function(result) {
                alert('Er is iets misgegaan. Probeer het later nogmaals.');
            }
        });
    }


    $(document).ready(function() {
        //$("#rowcity").hide();
        //$("#rowstreet").hide();
        //$("#plaats").prop('disabled', true);
        //$("#straat").prop('disabled', true);

        var zipcode = $("#Postcode").val().trim();
        var number = $("#Huisnummer").val().trim();
        if (zipcode.length > 0) {
            getofficialaddress(zipcode, number);
        }

        $("#Postcode").keyup(function() {

            var el = $(this);
            if ((el.val().length >= 6)) {
                var number = $("#Huisnummer").val().trim();
                getofficialaddress(el.val().trim(), number);
            }
        });

        $("#Huisnummer").keyup(function() {
            var el = $(this);
            var zip = $("#Postcode").val().trim();
            getofficialaddress(zip, el.val().trim());
        });
    });
</script>