@model AddressViewModel



<h2>Dit is het adressen overzicht!</h2>


<div class="row">

    @*@foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }*@

</div>